<?xml version="1.0"?>
<robot name="apple">
  <link name="base_link_apple">
    <inertial>
      <origin xyz="0 0 0.088" rpy="0 0 0" />
      <mass value="0.514" />
      <inertia ixx="1.04e-5" ixy="0" ixz="0" iyy="1.89e-6" iyz="0"
          izz="4.90e-7" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="004_sugar_box.obj"/>
      </geometry>
      <material name="red">
        <color rgba="0.9 0.1 0.1 0.9" />
      </material>
    </visual>

    <collision>
      <geometry>
        <mesh filename="004_sugar_box.obj"/>
      </geometry>
    </collision>


   </link>
</robot>
